@import url(fonts.css);

:root {
    --primary-font: "Comfortaa";
    --secondary-font: "Montserrat";
    --ternary-font: "Roboto";
    --primary-color: #fff;
    --secondary-color: #F18128;
    --ternary-color: #040D1F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 0;
    background: var(--ternary-color);
}

*::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 8px;
}

*::selection {
    background: var(--secondary-color);
}

body {
    font-family: var(--primary-font);
    background: var(--ternary-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    width: 166px;
    display: inline-block;
    padding: 16px 0;
    text-align: center;
    background: var(--ternary-color);
    color: var(--primary-color);
    font-family: var(--ternary-font);
    font-weight: 500;
    border-radius: 4px;
    transition: .4s;
}

.btn:hover {
    background: var(--secondary-color);
    color: #000;
}

.title {
    font-size: 36px;
    font-weight: 400;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    width: max-content;
}

.txt-limited {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

/* ads start */

.ads {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    column-gap: 24px;
}

.ads__txt {
    width: 166px;
}

/* ads end */

/* nav start */

.nav {
    background: rgba(1, 3, 5, 0.8);
    position: sticky;
    top: 0;
    z-index: 99;
    backdrop-filter: blur(10px);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 24px;
}

.nav__logo {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
}

.nav__logo-img {
    margin-right: 5px;
}

.nav__link {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 14px;
    padding: 42px 0;
    display: flex;
    justify-content: center;
    transition: .4s;
    position: relative;
}

.nav__link:hover {
    color: var(--secondary-color);
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0%;
    background: var(--secondary-color);
    transition: .4s;
}

.nav__link:hover::after {
    width: 100%;
}

/* nav end */

/* header start */

.header {
    min-height: 80vh;
    position: relative;
    display: flex;
    overflow: hidden;
}

.header__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.header__content {
    background: rgba(7, 15, 25, 0.75);
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    padding: 20px 0;
}

.header__title {
    font-family: var(--secondary-font);
    font-size: calc(28px + 36 * (100vw / 1920));
    margin-bottom: 30px;
}

.header__txt {
    color: #C8C8C8;
    text-align: justify;
    max-width: 570px;
    width: 100%;
    margin-bottom: 50px;
    font-family: var(--secondary-font);
    line-height: 24px;
    -webkit-line-clamp: 4;
}

.header__btns {
    display: flex;
    column-gap: 30px;
}

/* header end */

/* films start */

.films {
    padding: 60px 0 77px;
}

.films__title {
    margin-bottom: 54px;
}

.films__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.films__card {
    max-width: 255px;
    width: 100%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.films__card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.films__card-content {
    padding: 54px 14px 18px;
    color: var(--primary-color);
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.films__card-link {
    color: var(--primary-color);
    margin-bottom: 12px;
    transition: .4s;
}

.films__card-time {
    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 10px;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid var(--primary-color);
    border-radius: 9px;
    width: 100px;
    padding: 7px 0;
    text-align: center;
    margin-bottom: 30px;
    transition: .4s;
}

.films__card-title {
    font-family: var(--secondary-font);
    font-size: 22px;
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}

.films__card-txt {
    font-family: var(--ternary-font);
    font-size: 14px;
    line-height: 21px;
    -webkit-line-clamp: 7;
}

.films__card:hover .films__card-link {
    transform: scale(1.2) translateY(25px);
}

.films__card:hover .films__card-time {
    transform: scale(0);
}

/* films end */

/* premier start */

.premier {
    position: relative;
    overflow: hidden;
}

.premier__video {
    position: absolute;
    right: 0;
    z-index: -1;
}

.premier__content {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 55.64%, rgba(255, 255, 255, 0) 100.72%);
    padding: 42px 0 80px;
}

.premier__content-image {
    margin-bottom: 50px;
}

.premier__content-txt {
    font-family: var(--ternary-font);
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    max-width: 558px;
    width: 100%;
    margin-bottom: 55px;
}

/* premier end */

/* collections start */

.collections {
    padding: 60px 0;
}

.collections__title {
    margin-bottom: 50px;
}

.collections__cards {
    display: flex;
    column-gap: 30px;
}

.collections__card {
    position: relative;
    max-width: 350px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.collections__card::before {
    content: url(../img/boxes.png);
    position: absolute;
    top: 51%;
    left: 2%;
    transform: translateY(-50%);
    transition: 1s;
}

.collections__card::after {
    content: url(../img/boxes.png);
    position: absolute;
    top: 51%;
    right: 2%;
    transform: translateY(-50%);
    transition: 1s;
}

.collections__card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.collections__card-content {
    display: grid;
    place-items: center;
    padding: 55px 0;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    color: var(--primary-color);
    row-gap: 15px;
}

.collections__card-link {
    color: var(--primary-color);
    transition: .8s;
}

.collections__card-title {
    transition: .8s;
}

.collections__card:hover::before {
    transform: translateY(-200%);
}

.collections__card:hover::after {
    transform: translateY(150%);
}

.collections__card:hover .collections__card-link {
    transform: scale(1.2) translateY(15px);
}

.collections__card:hover .collections__card-title {
    transform: scale(0);
}

/* collections end */

/* series start */

.series {
    padding-bottom: 65px;
}

.series__title {
    margin-bottom: 54px;
}

.series__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

.series__item {
    min-height: 184px;
}

.series__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

h3.series__card-title {
    font-size: 40px;
}

h4.series__card-title {
    font-size: 24px;
}

.series__card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: .4s;
}

.series__card-content {
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--primary-color);
    text-align: center;
    row-gap: 20px;
    align-content: center;
    padding: 0 22px;
}

.series__card-link {
    color: var(--primary-color);
}

.series__card_lg {
    grid-column: 4 span;
    grid-row: 2 span;
}

.series__card_md {
    grid-column: 2 span;
    grid-row: 2 span;
}

.series__card-txt {
    -webkit-line-clamp: 4;
}

.series__card:hover .series__card-image {
    transform: scale(1.2);
}

/* series end */

/* footer start */

.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 26px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__app {
    display: flex;
    column-gap: 50px;
}

.footer__txt {
    color: var(--primary-color);
    font-size: 18px;
}

/* footer end */